@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // @include pour utiliser

.Signin {
    //? Modale
    @include m.flex-center; // mixin pour flex center auto
    position: fixed; // position fixed pour que le formulaire reste prenne tout l'écran
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); // Effet de transparence
    z-index: 9999; // Au dessus de tout

    //? Entête et formulaire
    &--container {
        height: 100vh; // Prend toute la hauteur de l'écran
        background: rgba(v.$color-darkest, 0.7); // Effet de transparence

        //? Entête
        &--head {
            position: relative; // Pour positionner le bouton close en absolute
        }
    }
    //? Titre
    & h2 {
        color: v.$color;
        text-align: center;
    }
    //? Croix de fermeture
    &--close {
        position: absolute; // Position absolute pour sortir du flux
        top: 0;
        border: 0.3rem solid v.$color;
        border-radius: 50%;
        color: v.$color;
        cursor: pointer;
    }

    //? Formulaire
    &--form {
        display: flex;
        flex-direction: row; // Pour que les champs soient côte à côte
        margin: 0 auto;
        max-width: 90rem; // Largeur max du formulaire
        color: v.$color;

        //? Bouton submit
        &--submit {
            margin: 0 auto;
            border-radius: 1rem;
            font-weight: 700;
            cursor: pointer;
        }
    }
    //? Gestion des parties 1 et 2 du formulaire
    &--field {
        display: flex;
        justify-content: space-between; // Espacement entre les champs
        border: none;
    }
    //? Gestion des champs texte
    &--inputText {
        display: flex; // label et input côte à côte
        justify-content: space-between; // A chaque extrémité
    }
    //? Open to work
    &--openToWork {
        display: flex; // label et radio côte à côte
        justify-content: left; // A gauche

        & input {
            margin-left: 2rem; // Pour espacer les radios du label
        }
    }
    //? A propos
    &--inputTextarea {
        display: flex;
        flex-direction: column; // Pour que le label soit au dessus du textarea
        & textarea {
            resize: none; // Masquer les poignées de redimensionnement
        }
    }
    //? Gestion des champs checkbox Technos
    &--techno {
        display: grid; // En grille
        grid-template-columns: repeat(
            3,
            1fr
        ); // 3 technos par ligne de largeur égale
        justify-items: center;
        align-items: center;
    }
    //? Case techno
    &--inputCheckbox {
        cursor: pointer;
        & input {
            display: none; // Masquer les cases à cocher
        }
        & label {
            display: none; // Masquer les labels
        }
        &--img img {
            display: block;
            margin: 0 auto; // Centrer l'image
        }
        //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
        &--img.selected {
            background-color: rgb(91, 166, 91);
        }
    }
    //? cgu
    &--cgu {
        margin-top: 2rem;
        & label {
            display: flex;
            flex-direction: rows; // Pour que le label et le lien soient côte à côte
            justify-content: center; // A gauche
        }
    }

    @media screen and (min-width: v.$mq-large) {
        //? Entête et formulaire
        &--container {
            width: 75%;
        }
        //? Titre
        & h2 {
            margin: 2rem auto;
            font-size: 2em;
        }
        //? Croix de fermeture
        &--close {
            right: 2rem;
            margin: 1rem;
            padding: 0rem 1rem;
            font-size: 2em;
        }

        //? Formulaire
        &--form {
            //? Bouton submit
            &--submit {
                padding: 1rem 2rem;
                width: 50%;
            }
        }
        //? Gestion des parties 1 et 2 du formulaire
        &--field {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres
            margin: 2rem;
            padding: 2rem;
            width: 50%; // Largeur du champ (moitié du parent)
        }
        //? Gestion des champs texte
        &--inputText {
            margin-top: 2rem;
        }
        //? Open to work
        &--openToWork {
            margin-top: 2rem;

            & input {
                margin-left: 2rem; // Pour espacer les radios du label
            }
        }
        //? A propos
        &--inputTextarea {
            margin-top: 2rem;
            & textarea {
                height: 5em; // Hauteur du bloc de texte
            }
        }
        //? Gestion des champs checkbox Technos
        &--techno {
            gap: 1rem; // Espacement x et y entre les technos
            margin-top: 2rem;
        }
        //? Case techno
        &--inputCheckbox {
            &--img img {
                width: 4rem; // Largeur de l'image
            }
            //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
            &--img.selected {
                padding: 0.5rem; // Epaisseur de la bordure
            }
        }
        //? cgu
        &--cgu {
            margin-top: 2rem;

            & input {
                margin-left: 2rem;
            }
        }
    }

    @media screen and (max-width: v.$mq-large) {
    }

    @media screen and (max-width: v.$mq-medium) {
        &--container {
            overflow-y: auto;
        }
        &--form {
            flex-direction: column;
        }
    }
    @media screen and (max-width: v.$mq-small) {
    }
    @media screen and (max-width: v.$mq-xsmall) {
    }
}
