@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // @include pour utiliser

.Signin {
    //? Modale
    @include m.flex-center; // mixin pour flex center auto
    position: fixed; // position fixed pour que le formulaire reste prenne tout l'écran
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); // Effet de transparence
    z-index: 9999; // Au dessus de tout

    //? Entête et formulaire
    &--container {
        position: relative; // Pour positionner le bouton close en absolute
        height: 100vh; // Prend toute la hauteur de l'écran
        background: rgba(v.$color-darkest, 0.8); // Effet de transparence
    }
    //? Titre
    & h2 {
        color: v.$color;
        text-align: center;
    }
    //? Croix de fermeture
    &--close {
        position: absolute; // Position absolute pour sortir du flux
        border: 0.3rem solid v.$color;
        border-radius: 50%;
        color: v.$color;
        cursor: pointer;
    }

    //? Formulaire
    &--form {
        display: flex;
        margin: 0 auto;
        max-width: 90rem; // Largeur max du formulaire
        color: v.$color;

        //? Bouton submit
        &--submit {
            margin: 0 auto;
            border-radius: 1rem;
            font-weight: 700;
            cursor: pointer;
        }
    }
    //? Gestion des parties 1 et 2 du formulaire
    &--field {
        display: flex;
        justify-content: space-between; // Espacement entre les champs
        border: none;
    }
    //? Gestion des champs texte
    &--inputText {
        display: flex; // label et input côte à côte
        justify-content: space-between; // A chaque extrémité

        & input {
            border-radius: 1rem;
            padding-left: 1rem;
        }
    }
    //? Open to work
    &--openToWork {
        display: flex; // label et radio côte à côte
        justify-content: space-evenly; // A gauche
        align-items: center; // Aligner les éléments verticalement
    }
    //? A propos
    &--inputTextarea {
        display: flex;
        flex-direction: column; // Pour que le label soit au dessus du textarea
        & textarea {
            resize: none; // Masquer les poignées de redimensionnement

            border-radius: 1rem;
            padding-left: 1rem;
        }
    }
    //? Gestion des champs checkbox Technos
    &--techno {
        display: grid; // En grille
        grid-template-columns: repeat(
            3,
            1fr
        ); // 3 technos par ligne de largeur égale
        justify-items: center;
        align-items: start;
    }
    //? Case techno
    &--inputCheckbox {
        cursor: pointer;
        & input {
            display: none; // Masquer les cases à cocher
        }
        & label {
            display: none; // Masquer les labels
        }
        &--img img {
            display: block;
            margin: 0 auto; // Centrer l'image
        }
        //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
        &--img.selected {
            background-color: rgb(91, 166, 91);
        }
    }
    //? cgu
    &--cgu {
        & label {
            display: flex;
            flex-direction: rows; // Pour que le label et le lien soient côte à côte
            justify-content: center; // A gauche
        }
    }

    @media screen and (min-width: v.$mq-large) {
        //? Entête et formulaire
        &--container {
            width: 80%;
        }
        //? Titre
        & h2 {
            margin: v.$font-large auto;
            font-size: 2em;
        }
        //? Croix de fermeture
        &--close {
            top: v.$font-large;
            right: v.$font-large;
            padding: 0 v.$font-xsmall;
            font-size: 2em;
        }

        //? Formulaire
        &--form {
            flex-direction: row; // Pour que les champs soient côte à côte
            //? Bouton submit
            &--submit {
                padding: v.$font-xsmall v.$font-large;
                width: 50%;
            }
        }
        //? Gestion des parties 1 et 2 du formulaire
        &--field {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres
            margin: v.$font-large;
            padding: v.$font-large;
            width: 50%; // Largeur du champ
        }
        //? Gestion des champs texte
        &--inputText {
            margin-top: v.$font-large;
        }
        //? Open to work
        &--openToWork {
            margin-top: v.$font-large;
        }
        //? A propos
        &--inputTextarea {
            margin-top: v.$font-large;
            & textarea {
                height: 5em; // Hauteur du bloc de texte
            }
        }
        //? Container technos
        &--technos {
            margin-top: v.$font-large;
        }
        //? Gestion des champs checkbox Technos
        &--techno {
            gap: v.$font-xsmall; // Espacement x et y entre les technos
            margin-top: v.$font-large;
        }
        //? Case techno
        &--inputCheckbox {
            height: v.$font-xlarge + 3rem; // Hauteur de la case
            &--img img {
                width: v.$font-xlarge; // Largeur de l'image
            }
            //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
            &--img.selected {
                padding: 0.5rem; // Epaisseur de la bordure
            }
        }
        //? cgu
        &--cgu {
            margin-top: v.$font-large;

            & input {
                margin-left: v.$font-large;
            }
        }
    }

    @media screen and (max-width: v.$mq-large) {
        font-size: 70%;
        //? Entête et formulaire
        &--container {
            width: 75%;
        }
        //? Titre
        & h2 {
            margin: v.$font-large auto;
            font-size: 2em;
        }
        //? Croix de fermeture
        &--close {
            top: v.$font-large;
            right: v.$font-medium;
            padding: 0 v.$font-xsmall;
            font-size: 1.5em;
        }

        //? Formulaire
        &--form {
            flex-direction: row; // Pour que les champs soient côte à côte

            //? Bouton submit
            &--submit {
                padding: v.$font-xsmall;
                width: 90%;
            }
        }
        //? Gestion des parties 1 et 2 du formulaire
        &--field {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres
            margin: v.$font-small;
            padding: v.$font-small;
            width: 50%; // Largeur du champ
        }
        //? Gestion des champs texte
        &--inputText {
            margin-top: v.$font-medium;
        }
        //? Open to work
        &--openToWork {
            margin-top: v.$font-medium;
        }
        //? A propos
        &--inputTextarea {
            margin-top: v.$font-medium;
            & textarea {
                height: 5em; // Hauteur du bloc de texte
            }
        }
        //? Container technos
        &--technos {
            margin-top: v.$font-medium;
        }
        //? Gestion des champs checkbox Technos
        &--techno {
            gap: v.$font-xsmall; // Espacement x et y entre les technos
            margin-top: v.$font-medium;
        }
        //? Case techno
        &--inputCheckbox {
            height: v.$font-large + 3rem; // Hauteur de la case
            &--img img {
                width: v.$font-large; // Largeur de l'image
            }
            //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
            &--img.selected {
                padding: 0.5rem; // Epaisseur de la bordure
            }
        }
        //? cgu
        &--cgu {
            margin-top: v.$font-medium;

            & input {
                margin-left: v.$font-medium;
            }
        }
    }

    @media screen and (max-width: v.$mq-medium) {
        font-size: 70%;
        //? Entête et formulaire
        &--container {
            width: 60%;
            overflow: auto;
        }
        //? Titre
        & h2 {
            margin: 0 auto;
            margin-top: v.$font-xxlarge + 2rem;
            font-size: 2em;
        }
        //? Croix de fermeture
        &--close {
            top: v.$font-medium;
            right: v.$font-medium;
            padding: 0 v.$font-xsmall;
            font-size: 1.5em;
        }

        //? Formulaire
        &--form {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres

            //? Bouton submit
            &--submit {
                margin-top: v.$font-medium;
                padding: v.$font-xsmall;
                width: 60%;
            }
        }
        //? Gestion des parties 1 et 2 du formulaire
        &--field {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres
            margin: v.$font-small auto 0;
            padding: 0 v.$font-xsmall;
            width: 80%; // Largeur du champ
        }
        //? Gestion des champs texte
        &--inputText {
            margin-top: v.$font-medium;
        }
        //? Open to work
        &--openToWork {
            margin-top: v.$font-medium;
        }
        //? A propos
        &--inputTextarea {
            margin-top: v.$font-medium;
            & textarea {
                height: 5em; // Hauteur du bloc de texte
            }
        }
        //? Container technos
        &--technos {
            margin-top: v.$font-medium;
        }
        //? Gestion des champs checkbox Technos
        &--techno {
            gap: v.$font-xsmall; // Espacement x et y entre les technos
            margin-top: v.$font-medium;
        }
        //? Case techno
        &--inputCheckbox {
            height: v.$font-large + 2rem; // Hauteur de la case
            &--img img {
                width: v.$font-large; // Largeur de l'image
            }
            //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
            &--img.selected {
                padding: 0.5rem; // Epaisseur de la bordure
            }
        }
        //? cgu
        &--cgu {
            margin-top: v.$font-medium;

            & input {
                margin-left: v.$font-medium;
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        font-size: 60%;
        //? Entête et formulaire
        &--container {
            width: 80%;
            overflow: auto;
        }
        //? Titre
        & h2 {
            margin: 0 auto;
            margin-top: v.$font-large + 2rem;
            font-size: 2em;
        }
        //? Croix de fermeture
        &--close {
            top: v.$font-small;
            right: v.$font-small;
            padding: 0 v.$font-xxsmall;
            font-size: 1em;
        }

        //? Formulaire
        &--form {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres

            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                padding: v.$font-xsmall;
                width: 60%;
            }
        }
        //? Gestion des parties 1 et 2 du formulaire
        &--field {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres
            margin: v.$font-small auto 0;
            padding: 0;
            width: 85%; // Largeur du champ
        }
        //? Gestion des champs texte
        &--inputText {
            margin-top: v.$font-small;
        }
        //? Open to work
        &--openToWork {
            margin-top: v.$font-small;
        }
        //? A propos
        &--inputTextarea {
            margin-top: v.$font-small;
            & textarea {
                height: 5em; // Hauteur du bloc de texte
            }
        }
        //? Container technos
        &--technos {
            margin-top: v.$font-xxsmall;
        }
        //? Gestion des champs checkbox Technos
        &--techno {
            gap: v.$font-xsmall; // Espacement x et y entre les technos
            margin-top: v.$font-small;
        }
        //? Case techno
        &--inputCheckbox {
            height: v.$font-large + 2rem; // Hauteur de la case
            &--img img {
                width: v.$font-large; // Largeur de l'image
            }
            //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
            &--img.selected {
                padding: 0.5rem; // Epaisseur de la bordure
            }
        }
        //? cgu
        &--cgu {
            margin-top: v.$font-small;

            & input {
                margin-left: v.$font-medium;
            }
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
        font-size: 50%;
        //? Entête et formulaire
        &--container {
            width: 80%;
            overflow: auto;
        }
        //? Titre
        & h2 {
            margin: 0 auto;
            margin-top: v.$font-large + 2rem;
            font-size: 2em;
        }
        //? Croix de fermeture
        &--close {
            top: v.$font-small;
            right: v.$font-small;
            padding: 0 v.$font-xxsmall;
            font-size: 1em;
        }

        //? Formulaire
        &--form {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres

            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                padding: v.$font-xsmall;
                width: 60%;
            }
        }
        //? Gestion des parties 1 et 2 du formulaire
        &--field {
            flex-direction: column; // Pour que les champs soient les uns en dessous des autres
            margin: v.$font-small auto 0;
            padding: 0;
            width: 80%; // Largeur du champ
        }
        //? Gestion des champs texte
        &--inputText {
            margin-top: v.$font-small;
        }
        //? Open to work
        &--openToWork {
            margin-top: v.$font-small;
        }
        //? A propos
        &--inputTextarea {
            margin-top: v.$font-small;
            & textarea {
                height: 5em; // Hauteur du bloc de texte
            }
        }
        //? Container technos
        &--technos {
            margin-top: v.$font-xxsmall;
        }
        //? Gestion des champs checkbox Technos
        &--techno {
            gap: v.$font-xsmall; // Espacement x et y entre les technos
            margin-top: v.$font-small;
        }
        //? Case techno
        &--inputCheckbox {
            height: v.$font-medium + 2rem; // Hauteur de la case
            &--img img {
                width: v.$font-medium; // Largeur de l'image
            }
            //! Ajouter une bordure autour de l'image lorsque la case à cocher est cochée
            &--img.selected {
                padding: 0.5rem; // Epaisseur de la bordure
            }
        }
        //? cgu
        &--cgu {
            margin-top: v.$font-small;

            & input {
                margin-left: v.$font-medium;
            }
        }
    }
}
