@use '../../../../../../styles/variables' as v;
@use '../../../../../../styles/mixins' as m; // @include pour utiliser

.DeleteModale {
    //? Modale
    @include m.modale; // mixin pour centrer le formulaire

    //? Entête et formulaire
    &--container {
        position: relative; // Pour positionner le bouton close en absolute
        max-width: 90rem; // Largeur max de la modale
        background: rgba(v.$color-darkest, 0.9); // Effet de transparence
        text-align: center;
    }
    //? Titre
    & h2 {
        color: v.$color;
    }
    //? Croix de fermeture
    &--close {
        @include m.close-modale; // mixin pour positionner la croix
    }
    //? Formulaire
    &--form {
        color: v.$color;

        //? Bouton submit
        &--submit {
            &--cancel,
            &--confirm {
                display: block;
                margin: 0 auto;
                border-radius: v.$border-radius;
                font-weight: 700;
                cursor: pointer;
            }
            &--cancel {
                background-color: v.$color;
                color: v.$color-darkest;
                border: 0.2rem solid v.$color-darkest;
            }
            &--confirm {
                background-color: rgb(125, 26, 26);
                color: v.$color;
                border: 0.2rem solid v.$color;
            }
        }
    }
    @media screen and (min-width: v.$mq-large) {
        //? Entête et formulaire
        &--container {
            padding: v.$font-xlarge;
        }
        //? Titre
        & h2 {
            font-size: v.$font-xlarge;

            margin: v.$font-large auto;
        }
        //? Formulaire
        &--form {
            //? Bouton submit
            &--submit {
                margin-top: v.$font-large;
                &--cancel,
                &--confirm {
                    padding: v.$font-xsmall v.$font-large;
                }
                &--cancel {
                }
                &--confirm {
                    margin-top: v.$font-small; // Pour espacer les boutons verticalement
                }
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        font-size: v.$font-small;
        //? Entête et formulaire
        &--container {
            padding: v.$font-large;
        }
        //? Titre
        & h2 {
            font-size: v.$font-large;
            margin: v.$font-medium auto;
        }
        //? Formulaire
        &--form {
            //? Bouton submit
            &--submit {
                margin-top: v.$font-large;
                &--cancel,
                &--confirm {
                    padding: v.$font-xsmall v.$font-large;
                }
                &--confirm {
                    margin-top: v.$font-small; // Pour espacer les boutons verticalement
                }
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        font-size: v.$font-xsmall;
    }
    @media screen and (max-width: v.$mq-small) {
        font-size: v.$font-xsmall;
        //? Entête et formulaire
        &--container {
            padding: v.$font-small;
            width: 100%;
        }
        //? Titre
        & h2 {
            margin: v.$font-small auto;
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
        font-size: 0.8rem;
        //? Entête et formulaire
        &--container {
            padding: v.$font-xsmall;
        }
        //? Titre
        & h2 {
            font-size: v.$font-medium;
        }
        //? Formulaire
        &--form {
            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                &--cancel,
                &--confirm {
                    padding: v.$font-xsmall v.$font-medium;
                }
                &--confirm {
                    margin-top: v.$font-xsmall; // Pour espacer les boutons verticalement
                }
            }
        }
    }
}
