@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.Render--Card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;

    @media screen and (max-width: v.$mq-medium) {
        @include m.flex-center;
        flex-wrap: wrap;
        justify-content: center;
    }
}
