@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // @include pour utiliser

.Login {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30rem;
    height: 30rem;
    background: yellow;
    opacity: 0.5;
    &--form {
        opacity: 1;
        color: green;
    }
}
