@use '../../../../../../styles/variables' as v;
@use '../../../../../../styles/mixins' as m; // @include pour utiliser

.PasswordModale {
    //? Modale
    @include m.modale; // mixin pour centrer le formulaire
    color: v.$color;

    //? Entête et formulaire
    &--container {
        position: relative; // Pour positionner le bouton close en absolute
        padding: v.$font-xlarge;
        max-width: 70rem; // Largeur max de la modale
        background: rgba(v.$color-darkest, 0.9); // Effet de transparence
        text-align: center;
    }
    //? Titre
    & h2 {
        margin: v.$font-medium auto;
        text-decoration: underline;
        color: v.$color;
        font-size: v.$font-large;
    }
    //? Croix de fermeture
    &--close {
        @include m.close-modale; // mixin pour positionner la croix
    }
    //? Formulaire
    &--form {
        //? Bouton submit
        &--submit {
            display: flex;
            flex-direction: column;
            margin-top: v.$font-small;
            &--inputs {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 90%;
                &--input {
                    width: 80%;
                }
            }
            &--cancel,
            &--confirm {
                display: block;
                margin: 0 auto;
                margin-top: v.$font-small; // Pour espacer les boutons verticalement
                padding: v.$font-xsmall v.$font-medium;
                width: 55%;
                border-radius: v.$border-radius;
                font-weight: 700;
                cursor: pointer;
            }
            &--cancel {
                background-color: v.$color;
                color: v.$color-darkest;
                border: 0.2rem solid v.$color-darkest;
            }
            &--confirm {
                background-color: rgb(0, 128, 0);
                color: v.$color;
                border: 0.2rem solid v.$color;
            }
        }
    }
    @media screen and (min-width: v.$mq-large) {
    }
    @media screen and (max-width: v.$mq-large) {
    }
    @media screen and (max-width: v.$mq-medium) {
    }
    @media screen and (max-width: v.$mq-small) {
    }
    @media screen and (max-width: v.$mq-xsmall) {
    }
}
