@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // @include pour utiliser

//? Carte projet du carousel
.ProjectCard {
    display: flex;
    flex-direction: column;
    background: v.$color-input;
    border-radius: v.$border-radius;
    color: v.$color-darkest;
    opacity: 1;
    &--firstField {
        &--title {
            text-align: center;
            letter-spacing: 0.2rem;
            color: v.$color-button;
        }
    }
    &--secondField {
        &--technos {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &--thirdField {
        &--description {
            overflow: hidden;
            text-align: justify;
        }
    }

    @media screen and (min-width: v.$mq-large) {
        margin: v.$font-xsmall auto;
        padding: 2rem 5.5rem;
        width: 95%;
        height: 300px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-small;
                & img {
                    width: v.$font-large;
                    max-width: 15%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 16rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        margin: v.$font-xsmall auto;
        padding: 2rem 5.5rem;
        width: 95%;
        height: 250px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-small;
                & img {
                    width: v.$font-large;
                    max-width: 15%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 16rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        margin: v.$font-xsmall auto;
        padding: 2rem 5rem;
        width: 94%;
        height: 250px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-small;
                & img {
                    width: v.$font-medium;
                    max-width: 7%;
                    height: v.$font-medium;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 13rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        &--firstField {
            &--title {
                font-size: v.$font-small;
            }
        }
        margin: v.$font-xsmall auto;
        padding: 2rem;
        width: 100%;
        height: 200px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-medium;
                margin: v.$font-small;
                & img {
                    width: v.$font-large;
                    max-width: 6%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 9rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
        &--firstField {
            &--title {
                font-size: v.$font-xsmall;
            }
        }
        margin: v.$font-xxsmall auto;
        padding: 1rem;
        width: 100%;
        height: 150px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-xsmall;
                & img {
                    width: v.$font-large;
                    max-width: 5%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 6rem;
                font-size: 0.7rem;
            }
        }
    }
}
