@use '../../../../../styles/variables' as v;
@use '../../../../../styles/mixins' as m; // @include pour utiliser

// Taille des icones
.Select--techno--flex {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem;
    // border-bottom: 1px dashed black;
}
.Select--techno-svg {
    @media screen and (min-width: v.$mq-large) {
        margin-right: 2rem;
        width: 30px;
        height: 30px;
    }
    @media screen and (max-width: v.$mq-large) {
        margin-right: 2rem;
        width: 30px;
        height: 30px;
    }
    @media screen and (max-width: v.$mq-medium) {
        width: 20px;
        height: 20px;
    }
}
