@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m; // @include pour utiliser

//! Header Global
//? Background et color
.Header {
    background: v.$color-dark; // Couleur de fond pour small et large
    color: v.$color; // Couleur du titre pour small et large
}
//? Liens
li {
    list-style: none;
}
//? Boutons login et subscribe
.Header--connect {
    & button {
        border: none;
        border-radius: 1rem;
        font-weight: 500;
        cursor: pointer;
    }
    &--subscribe {
        background: v.$color;
        color: v.$color-darkest;
    }
    &--login {
        background: #6558f7;
        color: v.$color;
    }
}

//! Header Desktop
.Header {
    // A partir de 768px (desktop)
    @media screen and (min-width: v.$mq-medium) {
        @include m.flex-center;
        justify-content: space-between;
        padding: 1rem 2rem;
        font-size: v.$font-small;

        //? Liste des liens
        & ul {
            display: flex;

            //? Lien unique
            & li {
                padding-left: 1rem;
            }
        }

        //? Boutons login et subscribe
        &--connect {
            & button {
                padding: 0.5rem 1.2rem;
            }

            &--subscribe {
                margin-left: 2rem;
            }

            &--login {
            }
        }
    }
    // A partir de 1024px (desktop)
    @media screen and (min-width: v.$mq-large) {
        font-size: v.$font-medium;

        //? Lien unique
        & ul {
            //? Lien unique
            & li {
                padding-left: 4rem;
            }
        }
    }
}

//! Header Mobile
//? Gestion de la cohérence du centrage du titre par rapport au header en mobile
//? Gestion cohérence de la margin-top du main
.Header {
    // Jusqu'à 768px (mobile)
    @media screen and (max-width: v.$mq-medium) {
        // hauteur du header
        height: v.$height-header-medium; // Hauteur du header en variable

        &--brand {
            @include m.flex-center;
            height: v.$height-header-medium; // Hauteur du titre égale à la hauteur du header pour le centrage
        }
        // Espace égale à la hauteur du header
        top: v.$height-header-medium;
    }
    // Jusqu'à 500px (mobile)
    @media screen and (max-width: v.$mq-small) {
        height: v.$height-header-small; // Hauteur du header en variable

        &--brand {
            @include m.flex-center;
            height: v.$height-header-small; // Hauteur du titre égale à la hauteur du header pour le centrage
        }

        // Espace égale à la hauteur du header
        top: v.$height-header-small;
    }
    // Jusqu'à 300px (mobile)
    @media screen and (max-width: v.$mq-xsmall) {
        height: v.$height-header-xsmall; // Hauteur du header en variable

        &--brand {
            @include m.flex-center;
            height: v.$height-header-xsmall; // Hauteur du titre égale à la hauteur du header pour le centrage
        }
        // Espace égale à la hauteur du header
        top: v.$height-header-xsmall;
    }
}

//? Global
.LeftMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 10% 15%;
    background: v.$color-dark;
    color: v.$color;

    //? Gestion de la position/transition
    position: fixed; // Pour rester en place
    left: -100vw; // Pour être en dehors de l'écran
    width: 100vw; // Pour prendre toute la largeur de l'écran
    height: 100%; // Pour prendre toute la hauteur de l'écran
    transform: translateX(-100%); // Animation pour l'ouverture
    transition: transform 0.7s ease-in-out; // Animation pour l'ouverture
    z-index: 5; // Pour être au dessus du main

    &.active {
        left: 0; // Left à 0 pour être visible quand on ouvre le menu
        transform: translateX(0); // Animation pour l'ouverture
    }
    & .Header--connect {
        display: flex;
    }

    //? Média queries
    // Jusqu'à 768px (mobile)
    @media screen and (max-width: v.$mq-medium) {
        //? Lien unique
        & ul > li {
            margin: 2rem 0;
            font-size: v.$font-medium;
        }

        //? Boutons login et subscribe
        & button {
            margin: 2rem auto;
            padding: 1rem 2rem;
            font-size: v.$font-medium;

            &:hover {
                // background: v.$color;
                // color: v.$color-darkest;
            }
        }
    }
    // Jusqu'à 500px (mobile)
    @media screen and (max-width: v.$mq-small) {
        //? Lien unique
        & ul > li {
            margin: 1.5rem 0;
            font-size: v.$font-small;
        }

        //? Boutons login et subscribe
        & button {
            margin: 1.5rem auto;
            padding: 1rem 2rem;
            font-size: v.$font-small;

            &:hover {
                // background: v.$color;
                // color: v.$color-darkest;
            }
        }
    }
    // Jusqu'à 300px (mobile)
    @media screen and (max-width: v.$mq-xsmall) {
        //? Lien unique
        & ul > li {
            margin: 2rem 0;
            font-size: v.$font-xsmall;
        }

        //? Boutons login et subscribe
        & button {
            margin: 2rem auto;
            padding: 1rem 2rem;
            font-size: v.$font-xsmall;

            &:hover {
                // background: v.$color;
                // color: v.$color-darkest;
            }
        }
    }
}
