@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m; // @include pour utiliser

.Header {
    background: v.$color-dark; // Couleur de fond pour small et large
    &--brand {
        color: v.$color; // Couleur du titre pour small et large
    }

    //? Media Queries
    // A partir de 768px (desktop)
    @media screen and (min-width: v.$mq-medium) {
        @include m.flex-center;
        justify-content: space-between;
        padding: 1rem 2rem;

        //? Liste des liens
        & ul {
            display: flex;

            //? Lien unique
            & li {
                color: v.$color;
                padding-left: 4rem;
                list-style: none;
            }
        }

        //? Boutons login et subscribe
        &--connect {
            & button {
                padding: 0.5rem 1.2rem;
                border-radius: 1rem;
                font-weight: 500;
                border: none;
            }

            &--subscribe {
                margin-left: 2rem;
                background: v.$color;
                color: v.$color-darkest;
            }

            &--login {
                background: #6558f7;
                color: v.$color;
            }
        }
    }

    // Jusqu'à 768px (mobile)
    @media screen and (max-width: v.$mq-medium) {
        // hauteur du header
        height: v.$height-header-medium; // Hauteur du header en variable

        &--brand {
            @include m.flex-center;
            height: v.$height-header-medium; // Hauteur du titre égale à la hauteur du header pour le centrage
        }
    }
    @media screen and (max-width: v.$mq-small) {
        height: v.$height-header-small; // Hauteur du header en variable

        &--brand {
            @include m.flex-center;
            height: v.$height-header-small; // Hauteur du titre égale à la hauteur du header pour le centrage
        }
    }

    @media screen and (max-width: v.$mq-xsmall) {
        height: v.$height-header-xsmall; // Hauteur du header en variable

        &--brand {
            @include m.flex-center;
            height: v.$height-header-xsmall; // Hauteur du titre égale à la hauteur du header pour le centrage
        }
    }
}
