@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m; // @include pour utiliser

.Footer {
    @include m.flex-center;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-top: 1px solid black;
    font-weight: 700;
    background: v.$color-dark;
    color: v.$color-lightest;
}
