@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m; // @include pour utiliser

.Footer {
    background-color: yellow;
    font-weight: 700;
    @include m.flex-center;
    justify-content: space-between;
    padding: 2rem;
}
