@use 'reset'; // On importe le reset css
@use 'variables' as v; // On importe les variables

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 10px par default, facilite les calculs de taille
}

body {
    background: v.$color; // On choisit la couleur d'arrière plan
    font-family: v.$font-sans; // On choisit la police par défaut
    font-size: 1.6rem; // On règle la taille de police par défaut
    -webkit-text-size-adjust: none; // Réglage pour apple
}

.devsConnect {
    display: flex; // On passe le conteneur en flexbox pour pouvoir utiliser les propriétés flex grow
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh; // On règle la hauteur à 100vh pour que tout l'espace vertical soit pris
}

// Meme utilité qu'au dessus, mais comme le component Error n'est pas dans la classe .devsConnect, on doit le réécrire
#root {
    display: flex; // On passe le conteneur en flexbox pour pouvoir utiliser les propriétés flex grow
    flex-direction: column; // On règle la direction du flexbox en colonne
    min-height: 100vh; // On règle la hauteur à 100vh pour que tout l'espace vertical soit pris
}

//! Couleur du texte `disponible/indisponible` dans membre(s)/projet(s)
.open {
    color: green;
}
.close {
    color: red;
}
