@use './variables' as v;
@use './mixins' as m; // @include pour utiliser

.Modale {
    //? Modale
    @include m.modale; // mixin pour centrer le formulaire
    color: v.$color;

    //? Entête et formulaire
    &--container {
        position: relative; // Pour positionner le bouton close en absolute
        background: rgba(v.$color-darkest, 0.9); // Effet de transparence
        text-align: center;
    }
    //? Titre
    & h2 {
        text-decoration: underline;
        color: v.$color;
    }
    //? Croix de fermeture
    &--close {
        @include m.close-modale; // mixin pour positionner la croix
    }
    //? Formulaire
    &--form {
        //? Bouton submit
        &--submit {
            display: flex;
            flex-direction: column;
            &--inputs {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }
            &--cancel,
            &--confirm,
            &--delete {
                display: block;
                border-radius: v.$border-radius;
                font-weight: 700;
                cursor: pointer;
            }
            &--cancel {
                background-color: v.$color;
                color: v.$color-darkest;
                border: 0.2rem solid v.$color-darkest;
            }
            &--confirm {
                background-color: rgb(0, 128, 0);
                color: v.$color;
                border: 0.2rem solid v.$color;
            }
            &--delete {
                background-color: rgb(125, 26, 26);
                color: v.$color;
                border: 0.2rem solid v.$color;
            }
        }
    }
    &--footer {
        display: flex;
        justify-content: center;
        margin: v.$font-small auto;
        &--link {
            margin-left: v.$font-small;
            text-decoration: underline;
            color: v.$color-button;
            cursor: pointer;
        }
        &--subtitle {
            margin: 0 auto;
            width: fit-content;
            border-top: 0.1rem solid v.$color;
            border-bottom: 0.1rem solid v.$color;
        }
    }
    @media screen and (min-width: v.$mq-large) {
        //? Entête et formulaire
        &--container {
            padding: v.$font-xlarge;
            width: 70rem; // Largeur max de la modale
        }
        //? Titre
        & h2 {
            margin: v.$font-medium auto;
            font-size: v.$font-large;
        }
        //? Formulaire
        &--form {
            //? Sosu-titres
            &--subtitle {
                font-size: v.$font-medium;
            }
            &--text {
                font-size: v.$font-small;
            }
            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                &--inputs {
                    width: 90%;
                    &--input {
                        width: 90%;
                    }
                }
                &--cancel,
                &--confirm,
                &--delete {
                    margin: 0 auto;
                    margin-top: v.$font-small; // Pour espacer les boutons verticalement
                    padding: v.$font-small v.$font-medium;
                    width: 55%;
                }
            }
        }
        &--footer {
            font-size: v.$font-small;
            &--subtitle {
                font-size: v.$font-large;
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        //? Entête et formulaire
        &--container {
            padding: v.$font-xlarge;
            width: 65rem; // Largeur max de la modale
        }
        //? Titre
        & h2 {
            margin: v.$font-large auto;
            font-size: v.$font-large;
        }
        //? Formulaire
        &--form {
            //? Sosu-titres
            &--subtitle {
                font-size: v.$font-medium;
            }
            &--text {
                font-size: v.$font-small;
            }
            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                &--inputs {
                    width: 100%;
                    &--input {
                        width: 90%;
                    }
                }
                &--cancel,
                &--confirm,
                &--delete {
                    margin: 0 auto;
                    margin-top: v.$font-small; // Pour espacer les boutons verticalement
                    padding: v.$font-small v.$font-medium;
                    width: 85%;
                    font-size: v.$font-small;
                }
                &--confirm {
                    margin-top: v.$font-large;
                }
            }
        }
        &--footer {
            font-size: v.$font-small;
            &--subtitle {
                font-size: v.$font-large;
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        //? Entête et formulaire
        &--container {
            padding: v.$font-xlarge;
            width: 50rem; // Largeur max de la modale
        }
        //? Titre
        & h2 {
            margin: v.$font-large auto;
            font-size: v.$font-medium;
        }
        //? Formulaire
        &--form {
            //? Sosu-titres
            &--subtitle {
                font-size: v.$font-small;
            }
            &--text {
                font-size: v.$font-xsmall;
            }
            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                &--inputs {
                    width: 100%;
                    &--input {
                        width: 90%;
                    }
                }
                &--cancel,
                &--confirm,
                &--delete {
                    margin: 0 auto;
                    margin-top: v.$font-small; // Pour espacer les boutons verticalement
                    padding: v.$font-small v.$font-medium;
                    width: 85%;
                    font-size: v.$font-small;
                }
                &--confirm {
                    margin-top: v.$font-large;
                }
            }
        }
        &--footer {
            font-size: v.$font-small;
            &--subtitle {
                font-size: v.$font-medium;
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        //? Entête et formulaire
        &--container {
            padding: v.$font-medium;
            width: 100%; // Largeur max de la modale
        }
        //? Titre
        & h2 {
            margin: v.$font-xlarge auto;
            font-size: v.$font-small + 0.3;
        }
        //? Formulaire
        &--form {
            //? Sous-titres
            &--subtitle {
                font-size: v.$font-xsmall + 0.2;
            }
            &--text {
                font-size: v.$font-xxsmall + 0.3;
            }
            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                &--inputs {
                    width: 100%;
                    &--input {
                        width: 90%;
                    }
                }
                &--cancel,
                &--confirm,
                &--delete {
                    margin: 0 auto;
                    margin-top: v.$font-small; // Pour espacer les boutons verticalement
                    padding: v.$font-small v.$font-small;
                    width: 70%;
                    font-size: v.$font-xsmall;
                }
                &--confirm {
                    margin-top: v.$font-large;
                }
            }
        }
        &--footer {
            font-size: v.$font-xsmall;
            &--subtitle {
                font-size: v.$font-medium;
            }
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
        //? Entête et formulaire
        &--container {
            padding: v.$font-small;
            width: 100%; // Largeur max de la modale
        }
        //? Titre
        & h2 {
            margin: v.$font-xxlarge auto;
            font-size: v.$font-small;
        }
        //? Formulaire
        &--form {
            //? Sosu-titres
            &--subtitle {
                font-size: v.$font-xxsmall + 0.3rem;
            }
            &--text {
                font-size: v.$font-xxsmall + 0.1rem;
            }
            //? Bouton submit
            &--submit {
                margin-top: v.$font-small;
                &--inputs {
                    width: 100%;
                    &--input {
                        width: 90%;
                    }
                }
                &--cancel,
                &--confirm,
                &--delete {
                    margin: 0 auto;
                    margin-top: v.$font-xsmall; // Pour espacer les boutons verticalement
                    padding: v.$font-xsmall v.$font-small;
                    width: 70%;
                    font-size: v.$font-xsmall;
                }
                &--confirm {
                    margin-top: v.$font-medium;
                }
            }
        }
        &--footer {
            font-size: v.$font-xsmall;
            &--subtitle {
                font-size: v.$font-small;
            }
        }
    }
}
