@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m; // @include pour utiliser

.OneMember {
    flex-grow: 1; // Pour que le container prenne toute la place disponible
    border: 2px solid black;
    &--firstField {
        //? Bouton contact
        &--contact {
            border-radius: v.$border-radius;
            background: v.$color-button;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
        }
        a {
            color: v.$color;
        }
        //? Disponibilité
        &--availability {
            font-weight: 700;
        }
    }
    &--secondField {
        &--description {
            overflow: auto;
            text-align: justify;
        }
        &--projects {
            position: relative; // Pour positionner les dots du carousel
        }
    }
    @media screen and (min-width: v.$mq-large) {
        //? Bouton retour
        &--return {
            width: 80%;
            max-width: 100rem;
            margin: v.$font-medium auto; // Pour centrer le container
            & button {
                padding: v.$font-xxsmall v.$font-large;
                background: v.$color;
                border-radius: v.$border-radius;
                color: v.$color-darkest;
                font-weight: 700;
                cursor: pointer;
                &:hover {
                    background: v.$color-darkest;
                    color: v.$color;
                }
            }
        }
        width: 80%; // Largeur du container
        max-width: 100rem; // Largeur max du container
        margin: v.$font-medium auto; // Pour centrer le container
        padding: v.$font-small 0;
        //* Taille de la police
        font-size: v.$font-small;
        & h4 {
            font-size: v.$font-medium;
        }
        //? firstField et secondField
        &--content {
            display: flex;
            flex-direction: row; //* Pour mettre les champs en ligne
        }
        //? Titre desktop
        &--title {
            padding: v.$font-medium 0 v.$font-xlarge;
            font-size: v.$font-xlarge;
            text-align: center;
        }

        &--firstField {
            padding: 0 v.$font-medium;
            width: 40%; // Largeur du champ
            //? Nom du membre
            &--title {
                display: none; //* Pour cacher le titre interne (desktop uniquement)
            }
            //? Image du membre
            &--image {
                display: block; // Pour centrer l'image
                margin: v.$font-small auto v.$font-xlarge; // Pour centrer l'image
                width: v.$font-xxlarge + 16rem;
                border-radius: v.$border-radius;
            }
            //? Bouton contact
            &--contact {
                display: block;
                margin: v.$font-medium auto; // Pour centrer le bouton
                padding: v.$font-small v.$font-xlarge;
                width: 30%;
                min-width: 18rem;
                height: v.$font-xlarge;
                line-height: v.$font-xsmall;
            }
            //? Technos
            &--technos {
                & h4 {
                    margin: v.$font-medium 0;
                }
                //? Images des technos
                &--technos {
                    display: grid; // Pour mettre les images en grille
                    grid-template-columns: 2, 1fr 4fr;
                    // Pour mettre image et titre par colonne
                    align-items: center; // Pour centrer les images et textes
                    gap: v.$font-large 0; // Pour espacer les images
                    //? Images des technos
                    &--group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: v.$font-small;
                        & img {
                            width: v.$font-xxlarge;
                            height: v.$font-xxlarge;
                        }
                        & p {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        &--secondField {
            padding: 0 v.$font-small;
            width: 60%;
            //? Description du membre
            &--description {
                max-height: 35rem; // Taille de la description
            }
            &--projects > h4 {
                padding-top: v.$font-xlarge; // Pour espacer le titre de la description
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        //? Bouton retour
        &--return {
            width: 90%;
            max-width: 75rem;
            margin: v.$font-medium auto; // Pour centrer le container
            & button {
                padding: v.$font-xxsmall v.$font-medium;
                background: v.$color;
                border-radius: v.$border-radius;
                color: v.$color-darkest;
                font-weight: 700;
                cursor: pointer;
                &:hover {
                    background: v.$color-darkest;
                    color: v.$color;
                }
            }
        }
        width: 90%; // Largeur du container
        max-width: 75rem; // Largeur max du container
        margin: v.$font-small auto; // Pour centrer le container
        padding: v.$font-small 0;
        //* Taille de la police
        font-size: v.$font-small;
        & h4 {
            font-size: v.$font-medium;
        }
        //? firstField et secondField
        &--content {
            display: flex;
            flex-direction: row; //* Pour mettre les champs en ligne
        }
        //? Titre desktop
        &--title {
            padding: v.$font-medium 0 v.$font-xlarge;
            font-size: v.$font-xlarge;
            text-align: center;
        }
        &--firstField {
            padding: 0 v.$font-small;
            width: 40%; // Largeur du champ
            //? Nom du membre
            &--title {
                display: none; //* Pour cacher le titre interne (desktop uniquement)
            }
            //? Image du membre
            &--image {
                display: block; // Pour centrer l'image
                margin: v.$font-small auto v.$font-xlarge; // Pour centrer l'image
                width: v.$font-xxlarge + 5rem;
                height: v.$font-xxlarge + 5rem;
            }
            //? Bouton contact
            &--contact {
                display: block;
                margin: v.$font-medium auto; // Pour centrer le bouton
                padding: v.$font-small v.$font-xlarge;
                width: 30%;
                min-width: 18rem;
                height: v.$font-xlarge;
                line-height: v.$font-xsmall;
            }
            //? Technos
            &--technos {
                & h4 {
                    margin: v.$font-medium 0 0 0;
                }
                //? Images des technos
                &--technos {
                    display: grid; // Pour mettre les images en grille
                    grid-template-columns: 2, 1fr 4fr;
                    // Pour mettre image et titre par colonne
                    align-items: center; // Pour centrer les images et textes
                    gap: v.$font-large 0; // Pour espacer les images
                    //? Images des technos
                    &--group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: v.$font-small;
                        & img {
                            width: v.$font-xlarge;
                            height: v.$font-xlarge;
                        }
                        & p {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        &--secondField {
            padding: 0 v.$font-small;
            width: 60%;
            //? Description du membre
            &--description {
                max-height: 30rem; // Taille de la description
            }
            &--projects > h4 {
                padding-top: v.$font-large; // Pour espacer le titre de la description
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        //? Bouton retour
        &--return {
            max-width: 50rem;
            & button {
                padding: 0.4rem v.$font-small;
            }
        }
        max-width: 50rem; // Largeur max du container
        padding: v.$font-small;
        //* Taille de la police
        font-size: v.$font-small;
        & h4 {
            font-size: v.$font-medium;
        }

        //? firstField et secondField
        &--content {
            flex-direction: column; //* Pour mettre les champs en colonne
        }
        &--title {
            display: none; // Pour cacher le titre externe (desktop uniquement)
        }
        &--firstField {
            width: 100%; // Largeur du champ
            //? Nom du membre
            &--title {
                display: block; //* Pour afficher le titre interne (mobile uniquement)
                font-size: v.$font-large;
                text-align: center;
            }
            //? Image du membre
            & img {
                margin: v.$font-xsmall auto; // Pour centrer l'image
                width: v.$font-xxlarge + 2rem;
                height: v.$font-xxlarge + 2rem;
            }
            //? Bouton contact
            &--contact {
                margin: v.$font-small auto; // Pour centrer le bouton
                min-width: 20rem;
            }
            //? Technos
            &--technos {
                margin-top: v.$font-xsmall;
                //? Images des technos
                &--technos {
                    display: flex; // Pour mettre les images en ligne
                    justify-content: space-around; // Pour les espacer
                    //? Images des technos
                    & img {
                        width: v.$font-large;
                        height: v.$font-large;
                    }
                    & p {
                        display: none; // Pour cacher le texte (mobile uniquement)
                    }
                }
            }
        }
        &--secondField {
            width: 100%;
            //? Description du membre
            &--description {
                max-height: 20rem; // Taille de la description
            }
            &--projects > h4 {
                padding-top: v.$font-small; // Pour espacer le titre de la description
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        //? Bouton retour
        &--return {
            max-width: 40rem;
            & button {
                padding: 0.2rem v.$font-small;
            }
        }
        max-width: 40rem; // Largeur max du container
        margin: v.$font-xsmall auto; // Pour centrer le container
        padding: v.$font-xsmall;
        //* Taille de la police
        font-size: v.$font-xsmall;
        & h4 {
            font-size: v.$font-small;
        }
        &--firstField {
            //? Nom du membre
            &--title {
                font-size: v.$font-medium;
            }
            //? Image du membre
            & img {
                width: v.$font-xxlarge;
                height: v.$font-xxlarge;
            }
            //? Bouton contact
            &--contact {
                margin: v.$font-xsmall auto;
                width: 40%;
                min-width: 15rem;
                height: v.$font-large;
                line-height: 0;
            }
            //? Technos
            &--technos {
                //? Images des technos
                &--technos {
                    //? Images des technos
                    & img {
                        width: v.$font-medium;
                        height: v.$font-medium;
                    }
                }
            }
        }
        &--secondField {
            //? Description du membre
            &--description {
                max-height: 16rem; // Taille de la description
            }
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
        //? Bouton retour
        &--return {
            max-width: 30rem;
            & button {
                padding: 0 v.$font-xsmall;
            }
        }
        width: 95%; // Largeur du container
        max-width: 30rem; // Largeur max du container
        margin: v.$font-xxsmall auto; // Pour centrer le container
        padding: v.$font-xxsmall;
    }
}

.ProjectCard {
    display: flex;
    flex-direction: column;
    background: v.$color-input;
    border-radius: v.$border-radius;
    color: v.$color-darkest;
    opacity: 1;
    &--firstField {
        &--title {
            text-align: center;
            letter-spacing: 0.2rem;
            color: v.$color-button;
        }
    }
    &--secondField {
        &--technos {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &--thirdField {
        &--description {
            overflow: hidden;
            text-align: justify;
        }
    }

    @media screen and (min-width: v.$mq-large) {
        margin: v.$font-xsmall auto;
        padding: 2rem 5.5rem;
        width: 95%;
        height: 300px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-small;
                & img {
                    width: v.$font-large;
                    max-width: 15%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 16rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        margin: v.$font-xsmall auto;
        padding: 2rem 5.5rem;
        width: 95%;
        height: 250px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-small;
                & img {
                    width: v.$font-large;
                    max-width: 15%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 16rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        margin: v.$font-xsmall auto;
        padding: 2rem 5rem;
        width: 94%;
        height: 250px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-small;
                & img {
                    width: v.$font-medium;
                    max-width: 7%;
                    height: v.$font-medium;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 13rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        &--firstField {
            &--title {
                font-size: v.$font-small;
            }
        }
        margin: v.$font-xsmall auto;
        padding: 2rem;
        width: 100%;
        height: 200px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-medium;
                margin: v.$font-small;
                & img {
                    width: v.$font-large;
                    max-width: 6%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 9rem;
            }
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
        &--firstField {
            &--title {
                font-size: v.$font-xsmall;
            }
        }
        margin: v.$font-xxsmall auto;
        padding: 1rem;
        width: 100%;
        height: 150px; // Hauteur du carousel
        &--secondField {
            &--technos {
                gap: v.$font-small;
                margin: v.$font-xsmall;
                & img {
                    width: v.$font-large;
                    max-width: 5%;
                    height: v.$font-large;
                }
            }
        }
        &--thirdField {
            &--description {
                max-height: 6rem;
                font-size: 0.7rem;
            }
        }
    }
}

// ! Carousel
//? Container
.react-multi-carousel-list {
    position: absolute;
    width: 100%;
    @media screen and (min-width: v.$mq-large) {
        margin: v.$font-small auto;
        height: 320px;
    }
    @media screen and (max-width: v.$mq-large) {
        margin: v.$font-xsmall auto;
        height: 265px;
    }
    @media screen and (max-width: v.$mq-medium) {
        margin: v.$font-xsmall auto;
        height: 265px;
    }
    @media screen and (max-width: v.$mq-small) {
        margin: v.$font-xxsmall auto;
        height: 215px;
    }
    @media screen and (max-width: v.$mq-xsmall) {
        margin: v.$font-xxsmall auto;
        height: 150px;
    }
}

//? Un projet
.react-multi-carousel-item {
    // padding-bottom: 2rem; // Déplace les dots plus bas
    opacity: 0.4; // Les cartes sont légèrement transparentes
    &--active {
        opacity: 1; // Sauf celle active
    }
}

//? Les flèches
.react-multiple-carousel__arrow {
    position: absolute;
    margin: 0 0.4rem;
    height: 94%;
    background: v.$color-darkest;
    opacity: 0.7; // Les flèches sont légèrement transparentes
    &--left {
        border-radius: v.$border-radius 0 0 v.$border-radius;
        left: 2%;
    }
    &--right {
        right: 2%;
        border-radius: 0 v.$border-radius v.$border-radius 0;
    }
    &::before {
        color: v.$color;
    }
    &:hover {
        background: v.$color-dark;
        opacity: 1; // Sauf au survol
        &::before {
            color: v.$color;
        }
    }
    @media screen and (min-width: v.$mq-large) {
        &::before {
            font-size: v.$font-xlarge;
        }
    }
    @media screen and (max-width: v.$mq-large) {
        &::before {
            font-size: v.$font-large;
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        &::before {
            font-size: v.$font-medium;
        }
    }
    @media screen and (max-width: v.$mq-small) {
    }
    @media screen and (max-width: v.$mq-xsmall) {
    }
}
