.form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 3rem 0 2rem 10rem;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dropdown-toggle:hover {
    background-color: #e0e0e0;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
.form-title {
    margin: 2rem 0 2rem 0;
}

.validate-button {
    width: 100px;
    background-color: rgb(28, 197, 141);
    border: none;
    margin-top: 1rem;
}
