.deletes-button {
    width: 200px;
    margin-top: 1rem;
    border: none;
    background-color: rgba(243, 101, 101, 0.699);
}

.validates-button {
    width: 200px;
    background-color: rgba(123, 253, 123, 0.486);
    border: none;
}
