@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // @include pour utiliser

// ! Style pour les erreurs/succès de formulaire
//? Container d'input
.MuiInputBase-root {
    background-color: v.$color-input;
    & input,
    & textarea {
        color: v.$color-darkest;
        font-weight: 700;
        &::placeholder {
            opacity: 1;
        }
    }
    @media screen and (min-width: v.$mq-large) {
        & input,
        & textarea {
            font-size: 1.3rem;

            &::placeholder {
                font-size: v.$font-small;
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        & input,
        & textarea {
            font-size: 1.2rem;

            &::placeholder {
                font-size: v.$font-small;
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        & input,
        & textarea {
            font-size: 1.1rem;

            &::placeholder {
                font-size: v.$font-xsmall;
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        & input,
        & textarea {
            font-size: 1rem;

            &::placeholder {
                font-size: v.$font-xsmall;
            }
        }
    }
}

// Couleur plus clair dans le formulaire d'inscription
.Signin--input {
    .MuiInputBase-root {
        & input,
        & textarea {
            color: #d3d3d3;
            &::placeholder {
                color: #d3d3d3;
            }
        }
    }
    .MuiInputBase-inputMultiline {
        &::placeholder {
            color: #d3d3d3;
        }
    }

    .MuiSvgIcon-root {
        color: #d3d3d3;
    }
}

//? Icône d'ceil pour afficher le mot de passe
.MuiSvgIcon-root {
    cursor: pointer;
}

.wrong {
    color: rgba(185, 6, 6, 0.9);
}
.good {
    color: rgba(6, 133, 38, 0.9);
}
