@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // @include pour utiliser

.Members {
    flex-grow: 1;
    &--containerCard {
        max-width: 150rem;
        display: grid;
        justify-items: center;
    }
    & h2 {
        text-align: center;
    }
    @media screen and (min-width: v.$mq-xlarge) {
        &--containerCard {
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            gap: v.$font-medium;
            padding: v.$font-xsmall;
        }
        & h2 {
            padding: v.$font-xsmall;
            font-size: v.$font-xxlarge;
        }
    }
    @media screen and (max-width: v.$mq-xlarge) {
        &--containerCard {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            gap: v.$font-medium;
            padding: v.$font-xsmall;
        }
        & h2 {
            padding: v.$font-xsmall;
            font-size: v.$font-xxlarge;
        }
    }
    @media screen and (max-width: v.$mq-large) {
        &--containerCard {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            gap: v.$font-medium;
            padding: v.$font-xsmall;
        }
        & h2 {
            padding: v.$font-xsmall;
            font-size: v.$font-xlarge;
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        &--containerCard {
            grid-template-columns: repeat(1, 1fr);
            gap: v.$font-small;
        }
    }
    @media screen and (max-width: v.$mq-small) {
        &--containerCard {
            gap: v.$font-xsmall;
        }
        & h2 {
            font-size: v.$font-large;
        }
    }
}
.CardMember {
    &--card {
        margin: 0 auto;
        height: auto;
        border: 2px solid black;
        &--header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            &--text {
                & p {
                    &.open {
                        color: green;
                    }
                    &.close {
                        color: red;
                    }
                }
            }
        }
        &--body {
            padding: v.$font-small;
            &--text {
                overflow: scroll;
                text-align: justify;
                & p {
                    font-size: v.$font-xsmall;
                }
            }
            &--technos {
                display: flex;
                justify-content: left;
                align-items: center;
            }
        }
        &--footer {
            padding: v.$font-small;
            & p {
                font-size: v.$font-small;
                font-weight: 700;
                text-decoration: underline;
            }
            & ul {
                & li {
                    white-space: nowrap; //* Empêche le retour à la ligne
                    overflow: hidden; //* Cache le contenu dépassant du cadre
                    text-overflow: ellipsis; //* Ajoute des points de suspension
                }
            }
        }
        @media screen and (min-width: v.$mq-large) {
            width: 95%;
            & p,
            & li {
                font-size: v.$font-medium;
            }
            & h4 {
                font-size: v.$font-large;
            }
            &--header {
                padding: v.$font-medium;
                &--text {
                    & h3 {
                        font-size: v.$font-xlarge;
                    }
                    & p {
                        font-weight: 700;
                    }
                }
                & img {
                    width: v.$font-xlarge + 6rem;
                    height: v.$font-xlarge + 6rem;
                }
            }
            &--body {
                padding: v.$font-medium;
                &--text {
                    max-height: 20rem;
                }
                &--technos {
                    padding-top: v.$font-medium;
                    & img {
                        margin-right: v.$font-large;
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
            &--footer {
                padding: 0 v.$font-medium v.$font-medium;
            }
        }
        @media screen and (max-width: v.$mq-large) {
            width: 95%;
            & p,
            & li,
            & h4 {
                font-size: v.$font-medium;
            }

            &--header {
                padding: v.$font-medium;
                &--text {
                    & h3 {
                        font-size: v.$font-large;
                    }
                    & p {
                        font-weight: 700;
                    }
                }
                & img {
                    width: v.$font-xlarge + 4rem;
                    height: v.$font-xlarge + 4rem;
                }
            }
            &--body {
                padding: v.$font-medium;
                &--text {
                    max-height: 20rem;
                }
                &--technos {
                    padding-top: v.$font-medium;
                    & img {
                        margin-right: v.$font-medium;
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
            &--footer {
                padding: 0 v.$font-medium v.$font-medium;
            }
        }
        @media screen and (max-width: v.$mq-medium) {
            width: 85%;

            &--header {
                & img {
                    width: v.$font-xlarge + 3rem;
                    height: v.$font-xlarge + 3rem;
                }
            }
            &--body {
                padding: v.$font-small v.$font-medium 0;
                &--text {
                    max-height: 12rem;
                }
                &--technos {
                    padding-top: v.$font-small;
                    & img {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
            &--footer {
                padding: v.$font-medium;
            }
        }
        @media screen and (max-width: v.$mq-small) {
            width: 100%;
            & p,
            & li {
                font-size: v.$font-small;
            }

            &--header {
                padding: v.$font-small;
                &--text {
                    & h3 {
                        font-size: v.$font-medium;
                    }
                }
                & img {
                    width: v.$font-xlarge + 2rem;
                    height: v.$font-xlarge + 2rem;
                }
            }
            &--body {
                padding: v.$font-xsmall v.$font-xsmall 0;
                &--technos {
                    & img {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
            &--footer {
                padding: v.$font-xsmall;
            }
        }
        @media screen and (max-width: v.$mq-xsmall) {
            font-size: v.$font-xsmall;
            &--body {
                padding: v.$font-small;

                &--text {
                    max-height: 10rem;
                }
                &--technos {
                    & img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
            &--footer {
                display: none;
            }
        }
    }
}
