@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m; // @include pour utiliser

.FilterBar {
    display: flex;
    flex-direction: column;
    background: v.$color-darkest;
    color: v.$color;
    text-decoration: underline;
    opacity: 0.8;

    &--firstField {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        & div {
            max-width: 50vw;
        }
        &--select {
            color: black;
        }
    }
    &--secondField {
        display: flex;
        justify-content: space-around;
        &--search {
            border-radius: 15px;
        }
    }

    @media screen and (min-width: v.$mq-large) {
        font-size: v.$font-medium;
        &--firstField {
            & p {
                padding-right: v.$font-medium;
            }
            padding: v.$font-medium 0;
        }
        &--secondField {
            padding-bottom: v.$font-medium;
            &--search {
                width: 40%;
                max-width: 40rem;
                height: v.$font-xxlarge;

                padding-left: v.$font-xsmall;
            }
        }
    }
    @media screen and (max-width: v.$mq-large) {
        font-size: v.$font-small;
        &--firstField {
            & p {
                padding-right: v.$font-medium;
            }
            padding: v.$font-medium 0;
        }
        &--secondField {
            padding-bottom: v.$font-medium;
            &--search {
                width: 40%;
                height: v.$font-xlarge;

                padding-left: v.$font-xsmall;
            }
        }
    }
    @media screen and (max-width: v.$mq-medium) {
        font-size: v.$font-small;
        &--firstField {
            & p {
                padding-right: v.$font-medium;
            }
            padding: v.$font-medium 0;
        }
        &--secondField {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-bottom: v.$font-small;
            width: 80%;
            &--search {
                width: 40%;
                height: v.$font-large;

                padding-left: v.$font-xsmall;
            }
            &--switch {
                margin-top: v.$font-small;
            }
            & em {
                display: none;
            }
        }
    }
    @media screen and (max-width: v.$mq-small) {
        font-size: v.$font-xsmall;
        &--firstField {
            & p {
                padding-right: v.$font-medium;
            }
            padding: v.$font-small 0;
        }
        &--secondField {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-bottom: v.$font-small;
            width: 80%;
            &--search {
                width: 60%;
                height: v.$font-large;
                padding-left: v.$font-xsmall;
            }
            &--switch {
                margin-top: v.$font-small;
            }
            & em {
                display: none;
            }
        }
    }
    @media screen and (max-width: v.$mq-xsmall) {
    }
}
