@use '../../../../../styles/variables' as v;
@use '../../../../../styles/mixins' as m; // @include pour utiliser

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: v.$color-dark;

    &--nav ul {
        display: flex;

        & li {
            color: v.$color-lightest;
            padding-left: 4rem;
            list-style: none;
        }
    }

    &--brand {
        color: v.$color-lightest;
    }

    &--nav--connect {
        & button {
            padding: 0.5rem 1.2rem;
            border-radius: 1rem;
            font-weight: 500;
            border: none;
        }

        &--subscribe {
            margin-left: 2rem;
            background: v.$color-lightest;
            color: v.$color-darkest;
        }

        &--login {
            background: #6558f7;
            color: v.$color;
        }
    }
}
