@use '../../../../../../styles/variables' as v;
@use '../../../../../../styles/mixins' as m; // @include pour utiliser

.LeftMenu {
    //? Global
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 10% 15%;
    background: v.$color-dark;
    color: v.$color;

    //? Gestion de la position/transition
    position: fixed; // Pour rester en place
    left: -100vw; // Pour être en dehors de l'écran
    width: 100vw; // Pour prendre toute la largeur de l'écran
    height: 100%; // Pour prendre toute la hauteur de l'écran
    transform: translateX(-100%); // Animation pour l'ouverture
    transition: transform 0.7s ease-in-out; // Animation pour l'ouverture
    z-index: 5; // Pour être au dessus du main

    &.active {
        left: 0; // Left à 0 pour être visible quand on ouvre le menu
        transform: translateX(0); // Animation pour l'ouverture
    }

    //? Lien unique
    & ul > li {
        margin: 2rem 0;
        list-style: none;
        font-size: 2rem;
    }

    //? Boutons login et subscribe
    & button {
        margin: 2rem auto;
        padding: 1rem 2rem;
        border: none;
        border-radius: 1rem;
        background: v.$color-darkest;
        color: v.$color-light;
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            // background: v.$color;
            // color: v.$color-darkest;
        }
    }

    & .Header--connect {
        display: flex;
        &--subscribe {
            margin-left: 2rem;
            background: v.$color;
            color: v.$color-darkest;
        }
        &--login {
            background: #6558f7;
            color: v.$color;
        }
    }

    @media screen and (max-width: v.$mq-medium) {
        // Espace égale à la hauteur du header
        top: v.$height-header-medium;
    }
    @media screen and (max-width: v.$mq-small) {
        // Espace égale à la hauteur du header
        top: v.$height-header-small;
    }
    @media screen and (max-width: v.$mq-xsmall) {
        // Espace égale à la hauteur du header
        top: v.$height-header-xsmall;
    }
}
